@model RoomRequest
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var token = HttpContextAccessor.HttpContext.Session.GetString("Token");
}
@section Header{
    <link href="~/admin-assets/css/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/admin-assets/css/dataTables/dataTables.responsive.css" rel="stylesheet" />
}

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-8">
                <a 
                   @*href="http://172.17.0.1:5001/room/ExportStudent/@ViewBag.RoomId"*@
                   onclick="dowload()"
                   class="btn btn-info">
                    <i class="fa fa-download"></i>
                  Export danh sách sinh viên
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="btn btn-danger" style="float:right;"
                   id="btn-delete-all-quesions"
                   title="Xóa tất cả sinh viên trong đề này">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 id="examInfoInRoom"> </h4>
            </div>
            <!-- /.panel-heading -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách câu hỏi
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="questions-table">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>Họ tên</th>
                                    <th>MSSV</th>
                                    <th>Điểm</th>
                                    <th>Thời gian nộp bài</th>
                                    @*<th>Hành động</th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="modal fade" id="exam-modal" aria-hidden="true">
    <div class="modal-dialog">
        <form id="examForm" name="examForm" class="form-horizontal">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exam-modal-title"></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="exam_id" value="">
                    <div class="form-group">
                        <label for="exam-title" class="col-sm-12">Tên đề thi</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="exam-title" name="ExamTitle" value=""
                                   maxlength="50" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exam-description" class="col-sm-12">Mô tả</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="exam-description" name="ExamDescription"
                                      value=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="exam-type">Loại đề thi</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="exam-type" name="ExamtypeId">
                                <option value="1">1 - Chuẩn</option>
                                <option value="2">2 - Tổng hợp</option>
                                <option value="3">3 - Internet</option>
                                <option value="4">4 - Hệ điều hành</option>
                                <option value="5">5 - CNTT</option>
                                <option value="6">6 - Word</option>
                                <option value="7">7 - Excel</option>
                                <option value="8">8 - Powerpoint</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="exam-total-questions">Số câu</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="exam-total-questions" name="TotalQuestions">
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="60">60</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="exam-time-limit">Thời gian</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="exam-time-limit" name="TimeLimit">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="60">60</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Trạng thái</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="exam-status" name="Status">
                                <option value="0">Đóng</option>
                                <option value="1">Mở</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-save" name="btn-save-exam-info"
                            class="btn btn-success center-block">
                        Lưu
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="question-modal" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <form id="questionForm" name="questionForm" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="question-modal-title"></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="question_id" id="question_id">
                    <div class="form-group">
                        <label for="question-content" class="col-sm-12">Nội dung</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="question-content" name="QuestionContent"
                                      value="" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="exam-type">Module</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="question-module" name="ModuleId">
                                <option value="1">1 - CNTT</option>
                                <option value="2">2 - Hệ điều hành</option>
                                <option value="3">3 - Internet</option>
                                <option value="4">4 - Word</option>
                                <option value="5">5 - Excel</option>
                                <option value="6">6 - Powerpoint</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="question-type">Loại câu hỏi</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="question-type" name="QuestionType">
                                <option value="1">Một đáp án</option>
                                <option value="2">Nhiều đáp án</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="exam-time-limit">Lựa chọn (tick vào đáp án đúng)</label>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        A. <input type="radio" value="A" class="Answer" id="correctA" name="Answer">
                                    </p>
                                    <input type="text" id="answer-A" name="A" class="form-control" value="">
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        B. <input type="radio" value="B" class="Answer" id="correctB" name="Answer">
                                    </p>
                                    <input type="text" id="answer-B" name="B" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        C. <input type="radio" class="Answer" value="C" id="correctC" name="Answer">
                                    </p>
                                    <input type="text" id="answer-C" name="C" class="form-control" value="">
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        D. <input type="radio" value="D" class="Answer" id="correctD" name="Answer">
                                    </p>
                                    <input type="text" id="answer-D" name="D" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="question-explain" class="col-sm-12">Giải thích đáp án</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="question-explain" name="AnswerExplain"
                                      value=""></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="examId" id="examId" value="" />
                <input type="hidden" name="correctAnswers" id="correctAnswers" value="" />
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="submit" id="btn-save" name="btn-save" class="btn btn-success">
                            Lưu
                        </button>
                        <button type="button" id="btn-switch-mass-create" name="btn-switch-mass-create"
                                class="btn btn-danger">
                            Thêm liên tục: Đang <span class="mass-create-status">TẮT</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        var roomId = @ViewBag.RoomId;
        var token = '@token';
        var roomName = '';
        var examID = '';
        let total_questions = '';
        let mass_create_status = false;
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                },
            });
            $('#questions-table').DataTable({
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: 'http://172.17.0.1:5001/api/room/GetStudentsInRoom/' + roomId,
                    type: 'GET',
                },
                columns: [
                { data: 'hoTen'},
                { data: 'mssv'},
                { data: 'score'},
                { data: 'timesubmit'},
                    /***********************************************************************/
                ],
            });
            getRoomInfo();
        });
        //remove question from exam button
        $('body').on('click', '#delete', function () {
            let questionID = $(this).data('id');
            if (confirm('Xóa câu hỏi ' + questionID + ' ra khỏi đề thi này?') === true) {
                $.ajax({
                    url: 'http://172.17.0.1:5001/api/question/delete/' + questionID,
                    type: 'get',
                    success: function (data) {
                        let oTable = $('#questions-table').dataTable();
                        oTable.fnDraw(false);
                    },
                    error: function (data) {
                        console.log('Error: ', data);
                    }
                });
            }
        });
        //edit question button
        $('body').on('click', '#edit', function () {
            let questionID = $(this).data("id");
            $('#btn-switch-mass-create').hide();
            $('#question-modal').modal('show');
            $('#questionForm').attr({
                action: "http://172.17.0.1:5001/api/question/update/" + questionID,
                method: "POST"
            });
            $('#question-modal-title').html("Sửa câu hỏi");
            $('#question_id').val(questionID);
            $.ajax({
                type: "get",
                url: "http://172.17.0.1:5001/api/question/getbyid/" + questionID,
                success: function (data) {
                    $('#question-content').val(data.resultObject.questionContent);
                    $('#question-module').val(data.resultObject.moduleId);
                    $('#question-type').val(data.resultObject.questionType);
                    $('#answer-A').val(data.resultObject.a);
                    $('#answer-B').val(data.resultObject.b);
                    $('#answer-C').val(data.resultObject.c);
                    $('#answer-D').val(data.resultObject.d);
                    if (data.resultObject.questionType === 1) {
                        $('input:checkbox').prop('type', 'radio');
                        let index = 0;
                        if (data.resultObject.correctAnswers.length === 1) {
                            data.resultObject.correctAnswers === 'A' ? index = 0 : '';
                            data.resultObject.correctAnswers === 'B' ? index = 1 : '';
                            data.resultObject.correctAnswers === 'C' ? index = 2 : '';
                            data.resultObject.correctAnswers === 'D' ? index = 3 : '';
                            let radio = document.getElementsByName('Answer')[index];
                            radio.checked = true;
                        }
                    } else {
                        $('input:radio').prop('type', 'checkbox');
                        let answerArr = data.resultObject.correctAnswers.split(',');
                        let checkbox = document.getElementsByName('Answer');
                        for (let i = 0; i < checkbox.length; i++)
                            checkbox[i].checked = false;
                        $.each(answerArr, function (index, value) {
                            let id = 0;
                            value === 'A' ? id = 0 : '';
                            value === 'B' ? id = 1 : '';
                            value === 'C' ? id = 2 : '';
                            value === 'D' ? id = 3 : '';
                            checkbox = document.getElementsByName('Answer')[id];
                            checkbox.checked = true;
                        });
                    }
                    $('#question-explain').val(data.resultObject.answerExplain);
                },
                error: function (data) {
                    console.log('Error: ', data);
                }
            });
        });
        // mass status switch
        $('#btn-switch-mass-create').click(function () {
            mass_create_status = mass_create_status === true ? false : true;
            btn = $('#btn-switch-mass-create');
            if (mass_create_status === true) {
                btn.removeClass('btn-danger');
                btn.addClass('btn-info');
                $('.mass-create-status').html('BẬT');
            } else {
                btn.removeClass('btn-info');
                btn.addClass('btn-danger');
                $('.mass-create-status').html('TẮT');
            }
        });
        $('#question-type').change(function () {
            if ($('#question-type').val() === '2')
                $('input:radio').prop('type', 'checkbox');
            else {
                isCheckBox = true;
                $('input:checkbox').prop('type', 'radio');
            }
        });
        //add new question to exam
        $('#btn-add-question').click(function () {
            $.ajax({
                url: 'http://172.17.0.1:5001/api/question/GetCountQuestion/' + examID,
                type: 'get',
                success: function (data) {
                    if (data >= total_questions) {
                        let alr = bootbox.dialog({
                            message: 'Đề thi này đã đủ số lượng ' + total_questions + ' câu!'
                        });
                        alr.init(function () {
                            setTimeout(function () {
                                alr.fadeOut();
                            },1500);
                        });
                        return false;
                    } else {
                        $('#btn-switch-mass-create').show();
                        $('#question_id').val('');
                        $('#questionForm').trigger("reset");
                        $('input:checkbox').prop('type', 'radio');
                        $('#question-modal-title').html("Thêm câu hỏi mới");
                        $('#question-modal').modal('show');
                        $('#questionForm').attr({
                            action: "http://172.17.0.1:5001/api/question/create/",
                            method: "POST"
                        });
                    }
                },
                error: function (data) {
                    console.log('Error', data);
                }
            });
        });
        // Save question button
        $('#questionForm').validate({
            submitHandler: function (form) {
                var url = $("#questionForm").attr("action");
                $('#btn-save').html('<i class="fa fa-spin fa-spinner"></i>');
                let answerArr = [];
                let checks = document.getElementsByName('Answer');
                for (let i = 0; i < checks.length; i++) {
                    if (checks[i].checked === true) {
                        answerArr.push(checks[i].value);
                    }
                }
                let answerStr = answerArr.join(",");
                $('#correctAnswers').val(answerStr);
                $.ajax({
                    data: $('#questionForm').serialize(),
                    type: "post",
                    url: url,
                    dataType: 'json',
                    success: function (data) {
                        $('#questionForm').trigger('reset');
                        if (!mass_create_status)
                            $('#question-modal').modal('hide');
                        $('#btn-save').html('Lưu');
                        let oTable = $('#questions-table').dataTable();
                        oTable.fnDraw(false);
                    },
                    error: function (data) {
                        bootbox.alert({
                            message: 'Lỗi: <p>' + data.responseJSON.message + '</p>',
                            backdrop: true
                        });
                        console.log('Error: ', data);
                        $('#btn-save').html('Lưu');
                    }
                });
            }
        });
        //edit exam info

        $('#btn-edit-exam').click(function () {
            $('#exam-modal').modal('show');
            $('#examForm').attr({
                action: "http://172.17.0.1:5001/api/exam/update/" + examID,
                method: "POST"
            });
            $('#exam-modal-title').html("Sửa đề thi");
            $('#exam_id').val(examID);
            $.ajax({
                type: "get",
                url: "http://172.17.0.1:5001/api/exam/" + examID,
                success: function (data) {

                    $('#exam-title').val(data.resultObject.examTitle);
                    $('#exam-description').val(data.resultObject.examDescription);
                    $('#exam-type').val(data.resultObject.examtypeId);
                    $('#exam-total-questions').val(data.resultObject.totalQuestions);
                    $('#exam-time-limit').val(data.resultObject.timeLimit);
                    $('#exam-status').val(data.resultObject.status);

                },
                error: function (data) {
                    console.log('Error: ', data);
                }
            });
        });
        // Save exam info button
        $('#examForm').validate({
            submitHandler: function (form) {
                var url = $("#examForm").attr("action");
                $('#btn-save').html('Loading..');
                $.ajax({
                    data: $('#examForm').serialize(),
                    type: "post",
                    url: url,
                    dataType: 'json',
                    success: function (data) {
                        $('#exam-modal').modal('hide');
                        bootbox.alert({
                            message: 'Sửa thông tin thành công'
                        });
                        getExamInfo();
                    },
                    error: function (data) {
                        console.log('Error: ', data);
                        $('#btn-save').html('Lưu');
                    }
                });
            }
        });
        //delete all questions
        $('#btn-delete-all-quesions').click(function () {
            bootbox.confirm({
                message: "<p>Bạn có chắc chắn muốn xóa tất cả câu hỏi khỏi phòng thi này?</p>" +
                    "<p>" +
                    "Nhập tên đề <b>" + roomName + "</b> để xác nhận: <input type='text' id='delete-all-questions-confirm'>" +
                    "<span id='delete-all-confirm-check'></span>" +
                    "</p>",
                backdrop: true,
                buttons: {
                    confirm: {
                        label: 'Chắc chắn',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hủy',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        if (roomName !== $("#delete-all-questions-confirm").val()) {
                            $('#delete-all-confirm-check').html('❌');
                            return false;
                        }
                        $.ajax({
                            url: "http://172.17.0.1:5001/api/room/DeleteExamInRoom/" + roomId,
                            type: 'get',
                            success: function (data) {
                                bootbox.alert({
                                    message: 'Xóa thành công!',
                                    callback: function () {
                                        $(this).fadeOut();
                                    }
                                });
                                let oTable = $('#questions-table').dataTable();
                                oTable.fnDraw(false);
                            },
                            error: function (data) {
                                console.log('Errors: ', data)
                            }
                        });
                    }
                }
            });
        });
        function getRoomInfo() {
            $.ajax({
                type: "get",
                url: "http://172.17.0.1:5001/api/exam/GetInfoExam/" + roomId,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                },
                success: function (data) {
                    console.log(data)
                    $('#exam-title').val(data.resultObject.examTitle);
                    $('#exam-description').val(data.resultObject.examDescription);
                    $('#exam-type').val(data.resultObject.examType);
                    $('#exam-total-questions').val(data.resultObject.totalQuestions);
                    $('#exam-time-limit').val(data.resultObject.timeLimit);
                    $('#exam-status').val(data.resultObject.status);
                    $('#examInfoInRoom').text('Số câu: ' + data.resultObject.totalQuestions + ' | Thời gian: ' + data.resultObject.timeLimit + 'm');
                    $('#title').text(data.resultObject.roomName + ' | MP: ' + data.resultObject.roomCode);
                    $("#examId").val(data.resultObject.id)
                    examTitle = data.resultObject.examTitle;
                    roomName = data.resultObject.roomName;
                    examID = data.resultObject.id;
                    total_questions = data.resultObject.totalQuestions;
                },
                error: function (data) {
                    console.log('Error: ', data);
                }
            });
        }
        function dowload() {
            window.location = "http://172.17.0.1:5001/api/room/ExportStudent/" + roomId;
        }
    </script>
    <!-- DataTables JavaScript -->
    <script src="~/admin-assets/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/admin-assets/js/dataTables/dataTables.bootstrap.min.js"></script>
}