@extends('editor.editorLayout')

@push('title')
{{$post->postTitle}}
@endpush

@push('active-quan-ly')
    active
@endpush

@push('additionalCSS')

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" type="text/css">
<link rel="stylesheet" href="~/admin-assets/trumbowyg/dist/ui/trumbowyg.min.css">
<!-- Import color plugin specific stylesheet -->
<link rel="stylesheet" href="~/admin-assets/trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.css">
@endpush

@section('content')
<form method="POST" id="postForm">
    <div class="row">
        <div class="col-lg-12">
            <input class="page-header form-control text-center" type="text" id="post-title" name="post-title"
                   value="{{$post->postTitle}}" style="font-size: xx-large; font-weight: bold; height:60px;">
            <input type="hidden" id="post-id" name="post-id" value="{{$post->id}}">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="col-md-9">
                    <textarea id="post-content" name="post-content" rows="25">
                        {!! $post->postContent !!}
                    </textarea>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default" style="margin-top: 16px;">
                        <div class="panel-heading">
                            Thông tin
                        </div>
                        <div class="panel-body">
                            <p><i class="fa fa-pencil"></i> ID Người đăng: {{$post->user_id}}</p>
                            <input type="hidden" id="post-author" name="post-author" value="{{$post->user_id}}">
                            <p class="form-inline">
                                <i class="fa fa-question"></i> Danh mục:
                                <select class="form-control" id="post-category" name="post-category">
                                    <option value="1" {{$post->postcategory_id==1 ? 'selected' : ''}}>1 - CNTT</option>
                                    <option value="2" {{$post->postcategory_id==2 ? 'selected' : ''}}>
                                        2 - Hệ điều hành
                                    </option>
                                    <option value="3" {{$post->postcategory_id==3 ? 'selected' : ''}}>3 - Internet</option>
                                    <option value="4" {{$post->postcategory_id==4 ? 'selected' : ''}}>4 - Word</option>
                                    <option value="5" {{$post->postcategory_id==5 ? 'selected' : ''}}>5 - Excel</option>
                                    <option value="6" {{$post->postcategory_id==6 ? 'selected' : ''}}>
                                        6 - Powerpoint
                                    </option>
                                    <option value="7" {{$post->postcategory_id==7 ? 'selected' : ''}}>
                                        7 - Hướng dẫn
                                    </option>
                                    <option value="8" {{$post->postcategory_id==8 ? 'selected' : ''}}>8 - Tin tức</option>
                                    <option value="9" {{$post->postcategory_id==9 ? 'selected' : ''}}>9 - Kiến thức tổng hợp</option>
                                </select>
                            </p>
                            <p><i class="fa fa-eye"></i> Lượt xem: {{$post->views}}</p>
                            <p class="form-inline">
                                <i class="fa fa-unlock"></i> Trạng thái:
                                <select class="form-control" id="post-status" name="post-status">
                                    <option value="1" {{$post->status==1 ? 'selected' : ''}}>Mở</option>
                                    <option value="0" {{$post->status==0 ? 'selected' : ''}}>Đóng</option>
                                </select>
                            </p>
                            <p><i class="fa fa-calendar"></i> Ngày đăng: {{$post->postDate}}</p>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Hành động
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-success" id="btn-save">Lưu bài viết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Script{ 
<script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        });

        $('#btn-save').click(function () {
            let formData = $('#postForm').serialize();
            $.ajax({
                data: formData,
                url: '{!! route('editPost') !!}',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    bootbox.alert({
                        message: data.message,
                        backdrop:true
                    });
                },
                error: function (data) {
                    alert('Lỗi: ' +
                        '- Có thể tên bài viết bị trùng');
                    console.log('Error: ', data);
                }
            });
        });
</script>

<!-- Import Trumbowyg -->
<script src="~/admin-assets/trumbowyg/dist/trumbowyg.min.js"></script>
<!-- Import dependency for Resizimg   -->
<script src="~/admin-assets/trumbowyg/dist/plugins/resizimg/jquery-resizable.min.js"></script>
<!-- Import Trumbowyg plugins... -->
<script src="~/admin-assets/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>
<script src="~/admin-assets/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
<script src="~/admin-assets/trumbowyg/dist/plugins/resizimg/trumbowyg.resizimg.js"></script>
<script src="~/admin-assets/trumbowyg/dist/plugins/history/trumbowyg.history.js"></script>
<script type="text/javascript" src="~/admin-assets/trumbowyg/js/langs/vi.min.js"></script>
<!-- Init Trumbowyg -->
<script>
        $(document).ready(function () {
            $.trumbowyg.svgPath = '~/admin-assets/trumbowyg/dist/ui/icons.svg';
        });
</script>
<script src="~/admin-assets/trumbowyg/js/main.js') !!}"></script>
}