<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThiTracNghiem_WebAdmin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/admin-assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/admin-assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/admin-assets/css/startmin.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/admin-assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- DataTables CSS -->
    <link href="~/admin-assets/css/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- DataTables Responsive CSS -->
    <link href="~/admin-assets/css/dataTables/dataTables.responsive.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

    @RenderSection("Header", required: false)
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <partial name="_Navbar.cshtml">
                <partial name="_LeftSidebar.cshtml">
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

    <!-- jQuery library -->
    <script src="~/lib/jquery/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/admin-assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/admin-assets/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/admin-assets/js/startmin.js"></script>

    <script src="~/admin-assets/js/jquery.validate.js"></script>

    <script src="~/admin-assets/js/bootbox.all.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="~/admin-assets/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/admin-assets/js/dataTables/dataTables.bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
